body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

section{
    width: 500px;
    height: 220px;
    background-color: rgb(177, 177, 177);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}   
section div input {
    width: 50%;
    padding: 5px;
    outline: none;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alerta{
    width: 100%;
    height: 40px;
    background-color: rgb(238, 109, 23);
    margin-top:10px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 5px;
}

button{
    padding: 5px 10px;
    background-color: rgb(16, 207, 57);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
}

select{
    padding: 5px 0px;
}

label{
    font-weight: bold;
}